@import "tailwindcss";

:root {
  --background: #020713;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #020713;
  }
}

.grid-container {
  max-width: 77.5rem;
}

.bg-brand {
  background-color: #6941c6;
}

.text-brand {
  color: #6941c6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
